.gradle
/build/
.terraform

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
classes

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.DS_Store
logs/app.log
logs/
bin
